<div class="container mx-auto pt-6 bg-black">
    <form id="create-chapter-form" hx-post="/chapter/create" hx-target="#trash" hx-target-error="#content-area" class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="block text-gray-300 text-xl font-bold mb-2">Add New Chapter</h2>
        <input class="hidden" name="audiobook_id" value="{{audiobook.id}}">
        <div class="mb-4">
            <label class="block text-gray-300 text-sm font-bold mb-2" for="chapter-name">
                Chapter Name
            </label>
            <input name="name"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="chapter-name" type="text" placeholder="Chapter Name" title="Chapter name">
        </div>
        <div class="mb-4">
            <div class="text-gray-300 text-sm font-bold mb-2">Existing chapters</div>

            <div id="chapters-timeline" class="w-full h-4 bg-neutral-500 relative mb-8"
                 hx-get="/chapter/audiobook/{{ audiobook.id }}/chapter-timeline"
                 hx-trigger="load" hx-target-error="#content-area" hx-swap="outerHTML" hx-target="#chapters-timeline"
            >
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-300 text-sm font-bold mb-2" for="chapter-name">
                New chapter beginning (drag to chapter beginning or enter timestamp)
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="chapter-begin-text" type="text" placeholder="(0):00:00"
                   onkeyup="validateChapterBeginSelection(this)"
                >
        </div>
        <div class="mb-4">
            <div class="text-gray-300 text-sm font-bold mb-2">New chapter beginning (drag to chapter beginning)</div>
            <div id="select-player-container" hx-target="#chapter-creator-player" hx-target-error="#content-area" hx-get="/chapter/audiobook/{{ audiobook.id }}/creator-player" hx-trigger="load" hx-swap="outerHTML">
                <audio id="chapter-creator-player" class="w-full" controls>
                </audio>
            </div>
            <input name="position" id="chapter-begin-selection" class="hidden">
        </div>

        <div class="flex items-center justify-end">
            <button onclick="validateChapterBeginSelection(document.getElementById('chapter-begin-text'))" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                Save
            </button>
        </div>

    </form>
</div>
<div class="hidden" id="trash"></div>