/* main.css */

body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.appbar {
    background-color: #0057FF;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 4px 2px -2px blue;
    border-bottom: 2px solid #0057FF;
    z-index: 10;
}

.title {
    text-align: center;
    font-size: 32px;
    color: white;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 4px 2px 2px blue;
    border-right: 2px solid #0057FF;
    z-index: 1;
}

.sidebar a {
    display: block;
    color: white;
    padding: 21px;
    text-decoration: none;
    box-shadow: 0 4px 2px -2px blue;
    border-bottom: 2px solid #0057FF;
}

.sidebar a.active {
    background-color: transparent;
    color: white;
}

.sidebar a:hover{
    background-color: #0057FF;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.content {
    text-align: center;
    margin-top: 20px;
}
