<audio id="chapter-creator-player" class="w-full" controls>
    <source src="{{ source }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<script>
    function formatTime(seconds) {
        minutes = Math.floor(seconds / 60);
        minutes = (minutes >= 10) ? minutes : "0" + minutes;
        seconds = Math.floor(seconds % 60);
        seconds = (seconds >= 10) ? seconds : "0" + seconds;
        return minutes + ":" + seconds;
    }

    document.getElementById('chapter-begin-selection').value = 0;
    document.getElementById('chapter-creator-player').addEventListener('timeupdate', () => {
        const currentTime = document.getElementById('chapter-creator-player').currentTime;
        document.getElementById('chapter-begin-selection').value = currentTime;
        document.getElementById('chapter-begin-text').value = formatTime(currentTime);
    });


</script>