<div class="p-3 rounded-xl w-2/6 bg-gray-800 relative border border-slate-400">
    <div class="flex flex-row items-center justify-between">
        <input name="query" id="quick-search-input" class="w-full bg-gray-800 focus:outline-none " hx-trigger="keydown delay:300ms" hx-get="/audiobook/search"
               hx-swap="outerHTML"
               hx-target="#search-result"
               hx-target-error="#content-area"
               hx-include="[name='query'], [name='search_type']"
               type="text"
               onfocusin="attachHideQuickSearchListener()"
               placeholder="Type to search..."
                autocomplete="off">
        <select name="search_type" class="bg-gray-800 focus:outline-none">
            <option value="book">book</option>
            <option value="author">author</option>
        </select>
    </div>


    <div id="search-result"></div>
</div>
