{% let max_init_page = crate::templates::utilities::get_max_init_page(max_page) %}

{% if max_page == 0 %}
<div></div>
{% else %}
<div id="rating-pagination" class="pl-10 flex flex-row justify-end items-center">
    <button id="load-previous-page-btn" hx-target="#ratings-container"
            hx-target-error="#content-area" hx-swap="innerHTML"
            hx-trigger="page-change"
            hx-get="/rating/audiobook/{{book_id}}?page=1"
            onclick="decreasePage({{ max_page }}, {{ max_init_page }})"
            class="w-1/8 bg-blue-600 hover:bg-blue-300 py-3 px-6 text-white font-bold rounded focus:outline-none focus:shadow-outline-blue">
        <i class="fa-solid fa-angle-left"></i>
    </button>
    <div id="pagination-text" current-page="1" class="px-2">Page 1 out of {{max_page}}</div>
    <button id="load-next-page-btn" hx-target="#ratings-container"
            hx-target-error="#content-area" hx-swap="innerHTML"
            hx-trigger="page-change"
            hx-get="/rating/audiobook/{{book_id}}?page={{max_init_page}}"
            onclick="increasePage({{ max_page }}, {{ max_init_page }})"
            class="w-1/8 bg-blue-600 hover:bg-blue-300 py-3 px-6 text-white font-bold rounded focus:outline-none focus:shadow-outline-blue">
        <i class="fa-solid fa-angle-right"></i>
    </button>
</div>
{% endif %}


