<div class="container h-full w-full  p-4 bg-black">
    <div class="max-w-full max-h-full h-full rounded overflow-hidden border border-gray-800 flex flex-col transition duration-500 items-center hover:shadow-sm hover:shadow-gray-500 hover:border-gray-500"
         style="background: linear-gradient(180deg,{{book.genre_color}} 0%, rgba(0,0,0, 0) 75%, rgba(0,0,0, 0) 100%);">
        <div class="px-4 py-2" >
            <div class="text-center">
                <div class="w-48 h-48 mx-auto relative">
                    <img class="w-full h-full" src="{{ book.thumbnail }}" alt="Audiobook Image">
                </div>
                <div class="font-bold text-lg text-white mb-2  max-w-60">
                    {{ book.name }}
                </div>
                <p class="text-gray-300 text-sm">
                    by {{ book.author_name }}
                </p>
            </div>
        </div>
    </div>
</div>
