<div class="container mx-auto p-6 bg-black max-w-4xl min-h-96">
    <form id="audio_book_upload_form" hx-post="/audiobook/upload" hx-target="#content-area" hx-target-error="#error-area" enctype="multipart/form-data"
          class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 h-full">
        <h2 class="block text-gray-300 text-xl font-bold mb-2 text-center">Upload Audiobook</h2>
        <div id="error-area" class="text-red-500 mb-3 text-center">
            {{ message }}
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
            <!-- Thumbnail Item -->
            <div id="thumbnail_item" class="mb-4 px-4 md:pr-6 md:pl-4">
                <label class="block text-gray-300 text-sm font-bold mb-2 flex flex-col items-center" for="thumbnail">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>
                    Audiobook thumbnail (optional)
                </label>
                <input class="shadow appearance-none flex border rounded py-2 px-3 text-gray-300 leading-tight focus:outline-none focus:shadow-outline"
                       id="thumbnail" accept="image/*" type="file" multiple name="thumbnail">
            </div>

            <!-- Audio File Item -->
            <div id="audiofile_item" class="mb-4 px-4 md:pl-6 md:pr-4">
                <label class="block text-gray-300 text-sm font-bold mb-2 flex flex-col items-center" for="audio_file">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9 9 10.5-3m0 6.553v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 1 1-.99-3.467l2.31-.66a2.25 2.25 0 0 0 1.632-2.163Zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 0 1-.99-3.467l2.31-.66A2.25 2.25 0 0 0 9 15.553Z" />
                    </svg>
                    Audiobook file
                </label>
                <input class="shadow appearance-none flex border rounded py-2 px-3 text-gray-300 leading-tight focus:outline-none focus:shadow-outline"
                       accept="audio/*" id="audio_file" type="file" multiple name="file">
            </div>
        </div>

        <div class="flex justify-end mt-10 mb-5">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                Create Audiobook
            </button>
        </div>


        <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
            <div id="progress" class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 0%; display: none;">0%</div>
        </div>

    </form>
</div>

<style>
    .hide-if-empty[value="0"]:empty {
        display: none;
    }
</style>

<script>
    htmx.on('#audio_book_upload_form', 'htmx:xhr:progress', function(evt) {
        var progressElement = htmx.find('#progress');
        var progress = (evt.detail.loaded / evt.detail.total * 100).toFixed(2);

        progressElement.style.width = progress + '%';
        progressElement.textContent = progress + '%';

        if (progress > 0) {
            progressElement.style.display = 'block';
        } else {
            progressElement.style.display = 'none';
        }
    });
</script>