<div onclick="jumpTo({{ chapter.position}})" class="container bg-gray-800 hover:bg-gray-700 hover:cursor-pointer">
    <div class="shadow-md rounded px-8 pt-4 pb-4 mb-4">
        <div class="w-full flex flex-row">
                <div class="text-xl text-blue-300 ml-4 mr-2">
                    Chapter {{chapter.order}}:
                </div>
                <div class="text-xl font-bold ml-1">
                     {{ chapter.name }}
                </div>
        </div>
    </div>
</div>

<script>
    function format(t) {
        let minute = Math.floor(t/60);
        let second = t % 60;
        return `${minute}:${second}`;
    }

    function jumpTo(t) {
        let vid = document.getElementById("audiobook-player");
        console.log(vid);
        console.log(t);
        vid.currentTime = t;
        vid.play();
    }
</script>