
<div id="#chapter-{{chapter.order}}" class="container bg-gray-800 hover:bg-gray-700 hover:cursor-pointer"
     hx-get="/audiobook/{{book_id}}/player?position={{chapter.position}}" hx-trigger="click"
     hx-target="#player-container" hx-swap="outerHTML">
    <div class="shadow-md rounded px-8 pt-4 pb-4 mb-4">
        <div class="w-full flex flex-row justify-between items-center">
            <div>
                <div class="text-xl text-blue-300 ml-4 mr-2">
                    <p>Chapter {{chapter.order}}: {{ chapter.name }}</p>
                </div>
                <div class="text-xl font-bold ml-1">
                    <p>"format('{{ chapter.position }}')"</p>
                </div>
            </div>
            {% if is_book_owned %}
            <form hx-delete="/chapter/delete" hx-target="#chapters-list">
                <input class="hidden" name="audiobook_id" value="{{ book_id }}">
                <input class="hidden" name="chapter_id" value="{{ chapter.id }}">
                <button class="hover:text-red-500" onclick="handleDelete(event)" type="submit">
                    <svg class="w-6 h-6 mr-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function format(t) {
        let minute = Math.floor(t / 60);
        let second = t % 60;
        return `${minute}:${second}`;
    }

    function handleDelete(event) {
        // Stop the event from propagating to the parent div
        event.stopPropagation();
    }
</script>