<style>
    .image-container {
        width: 100%; /* Set the width of the container */
        max-width: 320px;
        margin-left: 0;
    }

    .responsive-image {
        width: 100%; /* Make the image fill the container */
        height: 100%; /* Make the image fill the container */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
    }
</style>

<div class="container pl-10 pt-10 pb-10">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
        <div id="thumbnail-box" class="mb-4 sm:mb-0 xl:col-span-1">
<!--            <img class="bg-cyan-900 w-80 h-80 mr-10" src="{{ audiobook.thumbnail }}" alt="book-cover">-->
            <div id="book-cover-box" class="relative inline-block group w-25 h-25 md:w-45 md:h-45 lg:w-80 lg:h-80 mb-4">
                {% include "audiobook/book_cover_thumbnail.html" %}
            </div>
            <div class="mt-5 like-count flex flex-row justify-between">
                <button hx-patch="/audiobook/{{audiobook.id}}/likes" hx-target="#like-count" hx-target-error="#content-area" hx-swap="outerHTML">
                    <div id="like-count" class="flex items-center pl-5 text-3xl">
                        {% if is_liked %}
                        <i class="fa-solid fa-heart text-4xl"></i> <p class="pl-5 text-gray-300 text-2xl">{{ audiobook.like_count }}</p>
                        {% else %}
                        <i class="fa-regular fa-heart text-4xl"></i> <p class="pl-5 text-gray-300 text-2xl">{{ audiobook.like_count }}</p>
                        {% endif %}
                    </div>
                </button>
                <div id="stream-count" class="flex items-center pl-5 text-3xl">
                    <i class="fa-solid fa-music text-3xl"></i> <p class="pl-5 text-gray-300 text-2xl">{{ audiobook.stream_count }}</p>
                </div>
            </div>
        </div>
        <div class="mb-4 sm:ml-0 xl:ml-10 sm:mb-0 xl:col-span-1">
            <div class="pt-1">{{ audiobook.genre_name }}</div>
            <div class="book-name  text-6xl font-bold">{{audiobook.name}}</div>
            <div class="pt-5 items-center" >
                <div class="w-10 h-10 md:w-12 md:h-12 lg:w-24 lg:h-24" style="float: left ">
                    {% if audiobook.profile_picture == "" %}
                    <img class="w-full h-full rounded-full object-cover" style="background-color: #cccccc" src="./media/user_icon.png" />
                    {% else %}
                    <img class="w-full h-full rounded-full object-cover" style="background-color: #cccccc" src="{{ audiobook.profile_picture }}" />
                    {% endif %}
                </div>
                <div class="w-auto h-10 md:h-12 lg:h-24 pt-1 md:pt-2 lg:pt-8 pl-10 md:pl-12 lg:pl-24">
                    <div class="text-3xl pl-5">{{ audiobook.author_name }}</div>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-end sm:col-span-3 xl:col-span-2">
            <div class="rounded w-full overflow-hidden shadow-lg">
                <div id="chapters-container" class="pr-4 pb-4 pl-4 xl:ml-40 sm:ml-0">
                    <h2 class="font-bold text-xl text-white mb-2">Chapters</h2>
                    <div id="chapters-list" class="h-72 overflow-auto"
                         hx-get="/chapter/audiobook/{{ audiobook.id }}/manage" hx-swap="outerHTML" hx-target="#chapters-list" hx-trigger="load">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex mt-3 items-center mb-3 flex-row justify-between">
        <h2 class="text-2xl font-bold pt-4 mb-4">Description</h2>
        <div class="mr-4">
            <button id="play-from-detail-btn" hx-get="/audiobook/{{audiobook.id}}/player"
                    hx-target="#player-container"
                    hx-swap="outerHTML"
                    hx-target-error="#content-area"
                    class="bg-cyan-950 rounded-md p-3 text-xl hover:bg-blue-300 mr-2">
                <i class="fa-solid fa-play"></i>
            </button>
            <button hx-get="/audiobook/{{ audiobook.id }}/edit-content" hx-target-error="#content-area" hx-push-url="/audiobook/{{ audiobook.id }}/edit" hx-target="#content-area" class="bg-cyan-950 rounded-md p-3 text-xl hover:bg-blue-300 mr-2">
                <i class="fa-solid fa-pencil"></i>
            </button>
            {% if audiobook.deleted %}
            <button class="bg-cyan-950 rounded-md p-3 text-xl hover:bg-blue-300 mr-2"
                    hx-target-error="#content-area"
                    hx-put="/audiobook/{{ audiobook.id }}/restore" hx-target="#content-area">
                <i class="fa-solid fa-rotate-right"></i>
            </button>
            <button class="bg-cyan-950 rounded-md p-3 text-xl hover:bg-blue-300 mr-2"
                    hx-target-error="#content-area"
                    hx-delete="/audiobook/{{ audiobook.id }}/hard-delete" hx-target="#content-area">
                <i class="fa-solid fa-trash"></i>
            </button>
            {% else %}
            <button class="bg-cyan-950 rounded-md p-3 text-xl hover:bg-blue-300 mr-2"
                    hx-target-error="#content-area"
                    hx-delete="/audiobook/{{ audiobook.id }}/delete" hx-target="#content-area">
                <i class="fa-solid fa-eye-slash"></i>
            </button>
            {% endif %}
        </div>
    </div>
    <p class="mb-4"> {{audiobook.description}}</p>
    {% include "chapter/chapter_create.html" %}
</div>