<button onclick="getCurTime()" type="button">Get current time position</button>
<button onclick="setCurTime()" type="button">Set time position to 5 seconds</button><br>
<audio id="audiobook" controls>
    <source src="{{ audiobook.file_path }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<script>
    let vid = document.getElementById("audiobook");

    function getCurTime() {
        alert(vid.currentTime);
    }

    function setCurTime() {
        vid.currentTime=5;
    }
</script>