{% if books.len() > 0 %}
<div class="pl-10 pt-10 pb-3 mb-3 text-4xl font-bold">Maybe you would like</div>
{% endif %}
<div id="recommandation-container" class="flex flex-row justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
<!--        <div class="hidden lg:block"></div>-->
        {% for book in books %}
        <div class="book-info-link cursor-pointer" hx-get="/audiobook/{{ book.id }}/detail-content" hx-push-url="/audiobook/{{ book.id }}/detail" hx-target="#content-area">
            {% include "audiobook/audiobook_recommend.html" %}
        </div>
        {% endfor %}
<!--        <div class="hidden lg:block"></div>-->
    </div>
</div>