{% if books.len() > 0 %}
<div class="pl-10 pt-10 pb-3 mb-3 text-4xl font-bold">Maybe you would like</div>
{% endif %}
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">

    {% for book in books %}
    <div class="group">
        <div class="relative aspect-w-2 aspect-h-3 overflow-hidden cursor-pointer w-48 h-48" hx-get="/audiobook/{{ book.id }}/detail-content" hx-target="#content-area">
            <img class="object-cover w-full h-full transition-transform transform scale-100 group-hover:scale-110" src="{{ book.thumbnail }}" alt="{{ book.name }} Cover">
        </div>
        <p class="text-center mt-2 text-white font-bold">{{ book.name }}</p>
    </div>
    {% endfor %}

</div>