<div class="mx-auto text-center">
    <form id="user-mgmt-password" hx-post="/user/manage/password" hx-target="#box-profile-updated-msg" class="bg-gray-800 opacity-70 mx-auto text-center bg-black shadow-lg border border-gray-800 rounded-lg p-5 flex flex-col items-center max-w-full w-96 mx-4 md:w-96 sm:w-96 lg:w-96 xl:w-1/4">
        <div class="flex flex-wrap justify-between w-full text-center">
            <div class="flex flex-col space-y-2 w-full md:w-1/2 px-2">
                <input type="password" name="old_password" placeholder="Old Password" class="p-3 rounded border border-gray-400 bg-gray-900 text-white placeholder-gray-600 focus:outline-none focus:border-green-500">
                <input type="password" name="new_password" placeholder="New Password" class="p-3 rounded border border-gray-400 bg-gray-900 text-white placeholder-gray-600 focus:outline-none focus:border-green-500">
            </div>
        </div>
        <button type="submit" class="bg-green-500 hover:bg-green-400 text-white font-bold py-3 px-6 rounded mt-4 focus:outline-none focus:shadow-outline-green">Change password</button>
    </form>
</div>
<a hx-get="/user/manage/profile" hx-push-url="true" hx-target="#profile-update-fields" hx-swap="innerHTML" hx-boost="true">
    <button type="submit" class="bg-green-500 hover:bg-green-400 text-white font-bold py-3 px-6 rounded mt-4 focus:outline-none focus:shadow-outline-green">
        Profile
    </button>
</a>

