<div id="user-mgmt-password">
    <div class="mx-auto text-center">
        <form hx-post="/user/manage/password" hx-target="#user-mgmt-password" hx-target-error="#content-area" hx-swap="outerHTML"
              class="bg-gray-800 mx-auto bg-black shadow-lg border border-gray-800 rounded-lg p-5 flex flex-col items-center max-w-full w-96 mx-4 md:w-96 sm:w-96 lg:w-96 min-w-lg">
            {% if success %}
            <div id="success-area" class="text-green-500 mb-3" onclick=" { this.style.display = 'none'; }">
            {% else %}
            <div id="error-area2" class="text-red-500 mb-3" onclick=" { this.style.display = 'none'; }">
            {% endif %}
                {{ message }}
            </div>
            <div class="justify-between w-full">
                <div class="flex flex-col space-y-2 w-full px-2">
                    <input type="password" name="old_password" placeholder="Old Password"
                           class="p-3 rounded border border-gray-400 bg-gray-900 text-white placeholder-gray-600 focus:outline-none focus:border-green-500">
                    <input type="password" name="new_password" placeholder="New Password"
                           class="p-3 rounded border border-gray-400 bg-gray-900 text-white placeholder-gray-600 focus:outline-none focus:border-green-500">
                    <input type="password" name="confirm_password" placeholder="Confirm password"
                           class="p-3 rounded border border-gray-400 bg-gray-900 text-white placeholder-gray-600 focus:outline-none focus:border-green-500">
                </div>
            </div>
            <span>
            <button type="submit"
                    class="bg-blue-600 hover:bg-blue-300 text-white font-bold py-3 px-6 rounded mt-4 focus:outline-none focus:shadow-outline-green">
                <img class="htmx-indicator inline" src="/static/images/bars.svg"/>  Change password  <img
                    class="htmx-indicator inline" src="/static/images/bars.svg"/>
            </button>
        </span>
        </form>
    </div>
    <a hx-get="/user/manage/profile" hx-replace-url="false" hx-target="#profile-update-fields" hx-target-error="#content-area" hx-swap="innerHTML"
       hx-boost="true">
        <button type="submit"
                class="float-right bg-blue-600 hover:bg-blue-300 text-white font-bold py-3 px-6 rounded mt-4 focus:outline-none focus:shadow-outline-green">
            Profile
        </button>
    </a>
</div>
