<form method="post" action="/user/manage/picture" enctype="multipart/form-data" hx-post="/user/manage/picture" hx-trigger="submit" hx-target="#profile-picture-box" hx-target-error="#content-area" hx-swap="innerHTML">
    <div id="error-area" class="text-red-500 mb-3">
        {{ message }}
    </div>
    <div class="w-40 h-40 md:w-72 md:h-72 lg:w-108 lg:h-108 bg-gray-800 rounded-full flex items-center justify-center mb-4">
        <label for="profile-picture-input" class="relative w-40 h-40 md:w-72 md:h-72 lg:w-108 lg:h-108 rounded-full flex items-center justify-center cursor-pointer">
            <input type="file" id="profile-picture-input" class="hidden" accept="image/*" multiple name="picture" onchange="handleProfilePictureUpload(this)">
            <span id="profile-picture-label-for-file" class="text-white font-bold">Click to Upload</span>
        </label>
    </div>
    <button type="submit" class="absolute bottom-[32px] right-[32px] md:bottom-[48px] md:right-[48px] lg:bottom-[72px] lg:right-[72px] hidden transform translate-x-1/2 translate-y-1/2 bg-blue-600 hover:bg-blue-300 text-white rounded-full p-2 focus:outline-none group-hover:block">
        <svg class="w-12 h-12 md:w-18 md:h-18 lg:w-27 lg:h-27" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 10l7-7 7 7M12 3v18"></path>
        </svg>
    </button>
</form>

<script>
    function handleProfilePictureUpload(input) {
        const file = input.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const circle = input.parentElement;
                circle.style.backgroundImage = `url('${e.target.result}')`;
                circle.style.backgroundSize = 'cover';
                circle.style.backgroundPosition = 'center';
                circle.style.backgroundRepeat = 'no-repeat';

                const label = circle.querySelector('span');
                if (label) {
                    label.style.display = 'none';
                }
            };
            reader.readAsDataURL(file);
        }
    }
</script>